/* Estilos para el formulario */
#miFormulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

/* Estilos para los elementos del formulario */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  margin-bottom: 15px;
}

/* Estilos para el botón */
button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para el encabezado del formulario */
h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para el contenedor de botones */
.button-container {
  text-align: center;
}

/* Estilos para el select */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para las opciones del select */
option {
  background-color: #f7f7f7;
}
